@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,100;1,700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
header {
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.top {
  position: relative;
  background-color: aqua;
  line-height: 50px;
  width: 100%;
  margin: 0px;
}
.agregar{
  position: fixed; 
  bottom: .2em;
  right: 1em;

}

header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #00669f;
  color: #f3f3f3;
  line-height: 96px;
  padding-left: 25px;
  width: 100%;
  margin: 0px;
  text-decoration: none;
}
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5298bac0-b8bf-4c80-af67-725c1272dbb0/dbtx79r-6d273eb2-4102-4848-8fac-7d40512692ff.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUyOThiYWMwLWI4YmYtNGM4MC1hZjY3LTcyNWMxMjcyZGJiMFwvZGJ0eDc5ci02ZDI3M2ViMi00MTAyLTQ4NDgtOGZhYy03ZDQwNTEyNjkyZmYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.COwSfIvv6iIfVkQyVtxhqOVZS1ohwCfmeQkGc9MlmsY);
  margin:.2em;
  height: 10em;
}

header div a {
  font-size: 1em;
  font-weight: 600;
  margin-right: 2em;
  text-decoration: none;
}
fieldset{
  position: absolute;
  margin: 1em;
  right: 1em;
  border: none;
}
legend{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: #000;
  color: #ffffff;
  right: 1em;
  padding: 1em;
  margin: 1em;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.40);
  border-radius: 1em;
}
button {
  border-radius: 1em;
  background-color: #ffffff;
  padding: .5em;
  font-weight: 600;
  color: #000;
}

body {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: space-between;
}

main {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  flex-direction: row;
}

.megusta {
  position: absolute;
  display: flex;
  left: 5px;
  top: 5px;
}
.circulo {
  position: absolute;
  display: flex;
  width: 120px;
  height: 120px;
  top: 128px;
  border-radius: 50%;
}
.button {
  display: flex;
  border: black;
  border-style: ridge;
  width: 100px;
  height: 40px;
  color: #ffffff;
  text-decoration: none;
  background-color: #00669f;
}
.fondo {
  max-width: 300px;
}

.card1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 527px;
  border-radius: 1em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 35px;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
}
h2 {
  position: absolute;
  display: flex;
  top: 250px;
}
.encuadre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 70px 16px 0px 16px;
}
footer {
  width: 100%;
  height: 71px;
  color: #ffffff;
  background-color: #00669f;
  padding: 10px 10px 10px 10px;
  margin-top: 70px;
}
footer a {
  display: relative;
  font-size: 50px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 1012px) {
  .card1 {
    margin-top: 25px;
  }
  main {
    flex-direction: column;
    align-items: center;
  }
}
