<html>
  <head>
    <title>Formulario de registro</title>
  </head>
  <body>
    <form action="resultado.html" method="POST">
      <p>
        <label>Nombre:</label>
        <input type="text" name="nombre" required>
      </p>

      <p>
        <label>E-mail:</label>
        <input type="email" name="email" required>
      </p>

      <p>
        <label>Contraseña:</label>
        <input type="password" name="password" required>
      </p>
        
      <p>
      <button type="submit" value="enviar">Enviar</button>
      </p>
    </form>
  </body>
</html>